<h2 class="username">Edit your Profile</h2>
<section id="edit" class="">

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= render 'form' %>

      <%= link_to 'Show', @profile %> |
      <!-- <%= link_to 'Back', profiles_path %> -->
    </div>
  </div>
</div>

</section>
