@media only screen and (max-width : 786px) {
  h1{
    font-size: 2.5em;
  }

  body{
    font-size: 1.2em;
  }

  h2{
    font-size: 1.8em;
  }

  img{
    margin: 0 auto ;
    max-width: 60%;
  }

  #how, #plans{
    height: 1200px !important;
  }
}
