@media only screen and (max-width : 786px) {
  h1{
    font-size: 2.5em;
  }

  body{
    font-size: 1.2em;
  }

  h2{
    font-size: 1.8em;
  }

  img{
    margin: 0 auto ;
    max-width: 60%;
  }

  #home{
    height: 500px !important;
  }

  #how{
    height: 1200px !important;
  }

  #plans{
    height: 1000px !important;
  }

  #social{
    height: 600px !important;
    background: none;
  }

  .signup{
  	height: 80%;
  	position: absolute;
  	top: 45%;
  	transform: translateY(-50%);
  }

  .signup > form > a > img{
    max-width: 100%;
  }


  .dash{
  	width: 90%;
  	height: 100%;
  	margin: 3% 0% 0% 5%;
  	padding: 10px;
  	border-radius: 5px;
  }

  .notifications{
  	padding: 10px;
  }

  .notifications > .fa{
  	font-size: 3em;
  }

  .social-icons{
    font-size: 0.5em;
    line-height: 100px;
  }

  .rule{
    bottom: 20px;
  }
}
