@media only screen and (max-width : 786px) {
  h1{
    font-size: 2.5em;
  }

  body{
    font-size: 1.2em;
  }

  h2{
    font-size: 1.8em;
  }

  img{
    margin: 0 auto ;
    max-width: 60%;
  }

  #home{
    height: 650px !important;
  }

  #how{
    height: 1200px !important;
  }

  #plans{
    height: 1000px !important;
  }

  #social{
    height: 600px !important;
    background: none;
  }

  .signup{
  	height: 80%;
  	position: absolute;
  	top: 5%;
  	transform: translateY(-50%);
  }

  .signup > form > a > img{
    max-width: 100%;
  }


  .dash{
  	width: 90%;
  	height: 100%;
  	margin: 3% 0% 0% 5%;
  	padding: 10px;
  	border-radius: 5px;
  }

  .notifications{
  	padding: 10px;
  }

  .notifications > .fa{
  	font-size: 3em;
  }

  .social-icons{
    font-size: 0.5em;
    line-height: 100px;
  }

  .rule{
    bottom: 20px;
  }

  #profile{
    display: none;
  }

  #complete{
    display: none;
  }

  #mobileview{
    display: block;
  }

  .mobdetails > div > div > .fa{
    font-size: 3em;
  }

  .mobdetails > .row{
    margin-bottom: 10px;
  }

  .row > .col-xs-8 > span{
    height: 40px;
    line-height: 40px;
  }

  .form-area
  {
    background-color: #f1f1f1;
  	padding: 10px 20px 20px;
  	margin: 10px 0px 0px;
  	border: 1px solid GREY;
    border-radius: 5px;
  }

}
