<section id="home">
  <div class="container-fluid">
    <div class="row">
      <% if user_signed_in?%>
        <div class="dash">
          <h2 class="result-title">Showing results for "<%= params[:q][:name_cont] %>" </h2>
          <br>
          <% if @people.present? %>
            <%@people.each do |mtu| %>
            <%= link_to  profile_path(mtu.id) do%>
              <%mtu.avatar.url(:thumb)%>  <%=mtu.name%>
            <%end%><br> <br>
            <%end%>
          <%else%>
          <p>
            <br> <br>
            Sorry, we couldn't find any users called: "<%=params[:q][:name_cont]%>"
          </p>
          <%end%>
        </div>
      <%end%>

    </div>
  </div>
</section>
